__pycache__/
*.pyc

# public_data_lake: dados baixados/gerados, não versionados
public_data_lake/**/raw/
public_data_lake/**/*.duckdb
public_data_lake/**/config/
public_data_lake/**/control/
public_data_lake/**/dados_extraidos/
